@import 'partials/keyframes';
@import 'partials/fonts';


$font-color: rgb(116, 110, 110);
$card-bgc-color: white;
$btn-bgc: rgb(251, 240, 237);
$a-rg: 'ArlaF-Rg';


body{
  background-color: #404040;
  position: relative;
  font-family: $a-rg;
  margin-top: 200px;
}

.card-item-grid {
  list-style: none;
  display: flex;
  width: 300px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  transform-style: preserve-3d;
  transition: transform 1s;
  &.flipped{
    transform: rotateY( 180deg );
  }
}
.card-item-wrapper-front, .card-item-wrapper-back{
  display: block;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
}

.card-item-wrapper-front{
  width: 100%;
  height: 100%;
  background-color: $card-bgc-color;
  position: absolute;
  transform:rotateY(0deg);
}
.card-item-wrapper-back{
  background-color: $card-bgc-color;
  width: 100%;
  height: 100%;
  transform: rotateY( 180deg );
}

.card-item {
    &__header {
        &-favorite {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: green;
            backface-visibility: hidden;
            &-img {
                width: 30px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 4px;
            }
        }
        &-img {
            width: 100%;
            height: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__progressbar {
      width: 220px;
      height: auto;
      margin: auto;
      border-bottom: 1px solid rgb(230, 223, 223);
      padding: 20px 0px;
      .progress {
        width: 75%;
        height: 5px;
        margin: 0px auto;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
        backface-visibility: hidden;

        .progress-bar {
          backface-visibility: hidden;
          float: left;
          width: 0%;
          height: 100%;
          font-size: 12px;
          line-height: 20px;
          border-radius: 8px;
          color: #ffffff;
          text-align: right;
          background-color: #159d20;
          transition: width 0.6s ease;
          span{
            position: absolute;
            bottom: 10px;
            margin-right: 10px;
            color: white;
            z-index: 2;
            &::after{
              position: absolute;
              left: -8px;
              bottom: -7px;
              content: '';
              width: 40px;
              height: 30px;
              background-image: url('icons/box.svg');
              background-position: center;
              background-size: 100%;
              background-repeat: no-repeat;
              z-index: -1;
              backface-visibility: hidden;
            }
          }
        }
      }
    }
    &__content {

        width: 220px;
        height: 120px;
        margin: 5px auto;
       .recipe-title{
         color: darken($font-color, 10%);
         text-align: center;
         font-size: 80%;
       }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

  .btn{
    background-color: #fbf0ed;
    display: inline-block;
    height: 50px;
    width: 50%;
    border: none;
    font-weight: bold;
    color: $font-color;
    transition: all .1s ease-in-out 0s;
    cursor: pointer;
    position: relative;
    backface-visibility: hidden;
    &:focus{
      outline: none;
    }
    &:hover{
      transition: all .1s ease-in-out 0s;
      background-color: darken($btn-bgc, 3%);
    }
    &::before{
      height: 20px;
      width: 20px;
      vertical-align: middle;
      content:'';
      background-repeat: no-repeat;
      position: absolute;
      left: 13px
    }
  }
  .btn-send{
    &::before{
      background-image: url('icons/list.svg');
      left: 30px;
      backface-visibility: hidden;

    }
  }
  .btn-ingredienser{
    border-left: 1px solid #f0e7e5;
    &::before{
      content:"";
      background-image: url('icons/list.svg');
      backface-visibility: hidden;

    }
  }
}

//backside

.card-item {
  &__header-back {
     background: #fff;
     text-align: center;
  }
   &__select-person {
       margin: 20px;
       padding: 15px;
       width: 250px;
       font-size: 16px;
   }

   &__content-back {
       background: #fff;
   }

   &__ingrediens-list {
       list-style: none;
       width: auto;
       height: 300px;
       overflow: auto;

       .checkbox-style {
           width: 250px;
           height: auto;
           left: -15px;
           border-top: 1px solid #efefef;
           border-top-right-radius: 0 !important;
           border-top-left-radius: 0 !important;
           border-radius: 50px;
           position: relative;
           display: inline-block;

        p{
          display: inline-block;
        }

        .checked{
          color: #b9b9b9;
          transition: width 0.5s ease-in;
        }

           label {
               cursor: pointer;
               position: absolute;
               width: 20px;
               height: 20px;
               border-radius: 50px;
               border: 1px solid #b2b2b2;
               right: 0;
               top: 13px;


               &:after {
                   opacity: 0;
                   content: '';
                   position: absolute;
                   width: 10px;
                   height: 10px;
                   background: #00bf00;
                   border-radius: 50px;
                   top: 5px;
                   left: 5px;
                   transition: all 0.5s;
               }

           }
           .label-checked{
             border: 1px solid #b2b2b2;
           }

           input[type=checkbox]:checked + label:after {
               background: #b2b2b2;
               opacity: 1;
           }
       }
   }
}

// Removes the original checkbox!
input[type=checkbox] {
    display: none;
}

@import 'partials/mediaqueries';
