@import 'partials/keyframes';


$font-color: rgb(116, 110, 110);
$btn-bgc: rgb(251, 240, 237);

body{
  background-color: #404040;
  position: relative;

}

.card-item-grid {
  list-style: none;
  display: flex;
  width: 288px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  transform-style: preserve-3d;
  transition: transform 1s;
  &.flipped{
    transform: rotateY( 180deg );
  }
}
.card-item-wrapper-front, .card-item-wrapper-back{
  display: block;
  backface-visibility: hidden;
  position: absolute;
}

.card-item-wrapper-front{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}
.card-item-wrapper-back{
  width: 100%;
  height: 100%;
  background: blue;
  transform: rotateY( 180deg );
}

.card-item {
    &__header {
        &-favorite {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: green;
            &-img {
                width: 30px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 4px;
            }
        }
        &-img {
            width: 100%;
            height: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__progressbar {
      width: 220px;
      height: 50px;
      margin: 5px auto;
      border-bottom: 1px solid rgb(230, 223, 223);
    }
    &__content {

        width: 220px;
        height: 120px;
        margin: 5px auto;
       .recipe-title{
         color: darken($font-color, 20%);
         text-align: center;
         font-size: 80%;
       }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .btn-ingredienser {
        display: inline-block;
        width: 50%;
    }

  .btn{
    background-color: #fbf0ed;
    display: inline-block;
    height: 40px;
    width: 50%;
    border: none;
    font-weight: bold;
    color: $font-color;
    transition: all .1s ease-in-out 0s;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:hover{
      transition: all .1s ease-in-out 0s;
      background-color: darken($btn-bgc, .1%);
    }
  }
  .btn-send{
    &::before{
      content: '';
    }
  }
  .btn-ingredienser{
    border-left: 1px solid #f0e7e5;
  }
}

// Backside of card

.card-item {
    &__header-back {
        background: #fff;
        text-align: center;
    }
    &__select-person {
        margin: 20px;
        padding: 15px;
        width: 250px;
        font-size: 16px;
    }

    &__content-back {
        background: #fff;
    }

    &__ingrediens-list {
        list-style: none;
        width: 100%;

        .checkbox-style {
        	width: 220px;
        	height: auto;
        	background: #fcfff4;
        	border-radius: 50px;
        	position: relative;
            display: inline-block;

            p{
                display: inline-block;
            }

            label {
            	cursor: pointer;
            	position: absolute;
            	width: 20px;
            	height: 20px;
            	border-radius: 50px;
                border: 1px solid #b2b2b2;
            	right: 0;
            	top: 13px;

                &:after {
                	opacity: 0;
                	content: '';
                	position: absolute;
                	width: 10px;
                	height: 10px;
                	background: #00bf00;
                	border-radius: 50px;
                	top: 5px;
                	left: 5px;
                    transition: all 0.5s;
                }
            }

            input[type=checkbox]:checked + label:after {
            	background: #00bf00;
            	opacity: 1;
            }
        }
    }
}

// Removes the original checkbox!
input[type=checkbox] {
    display: none;
}
