@font-face {
  font-family: 'ArlaF-Rg';
  src: url("../fonts/rg/ArlaIF_Rg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rg/ArlaIF_Rg.?#iefix") format("embedded-opentype"), url("../fonts/rg/ArlaIF_Rg.woff2") format("woff2"), url("../fonts/rg/ArlaIF_Rg.woff") format("woff"), url("../fonts/rg/ArlaIF_Rg.ttf") format("truetype"), url("../fonts/rg/ArlaIF_Rg.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
