@font-face {
  font-family: 'ArlaF-Rg';
  src: url('../fonts/rg/ArlaIF_Rg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rg/ArlaIF_Rg.?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rg/ArlaIF_Rg.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rg/ArlaIF_Rg.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/rg/ArlaIF_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rg/ArlaIF_Rg.svg#svgFontName') format('svg'); /* Legacy iOS */
}
