@import 'http://www.arla.dk/UI/Css/Vendor?v=JGAfWa8-xhH6e_pWOuhUBrIb5vPuU0QFAdYL9cjWcFQ1';
@import 'http://www.arla.dk/Web/Core/UI/Images/grunticons/icons.data.svg.css';
@import 'http://www.arla.dk/UI/Css/Apps?v=5PwbarWYdphoXK3xbY5BIZwLJu5Rn_E0kq60_5rA-mc1';
@import 'http://cloud.webtype.com/css/3e685fa8-868c-4f15-ae69-9606a970615d.css';
@font-face {
  font-family: 'arla';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_lt-webfont.svg#arla") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'arla';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_rg-webfont.svg#arla") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'arla';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/arlaif_bd-webfont.svg#arla") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'arla';
  src: url("/Web/Core/UI/Fonts/arlaif_it-webfont.eot");
  src: url("/Web/Core/UI/Fonts/arlaif_it-webfont.eot?#iefix") format("embedded-opentype"), url("/Web/Core/UI/Fonts/arlaif_it-webfont.woff2") format("woff2"), url("/Web/Core/UI/Fonts/arlaif_it-webfont.woff") format("woff"), url("/Web/Core/UI/Fonts/arlaif_it-webfont.ttf") format("truetype"), url("/Web/Core/UI/Fonts/arlaif_it-webfont.svg#arla") format("svg");
  font-weight: 400;
  font-style: italic; }

body.my-meal-plan {
  background-color: #f4e2de; }

/******************
  Overwrite hero styling
*******************/
.my-meal-plan .hero-deck {
  margin: 0; }
  @media print {
    .my-meal-plan .hero-deck {
      border-top: 0; } }
  @media screen and (min-width: 641px) {
    .my-meal-plan .hero-deck .content-block {
      padding-bottom: 75px; } }
  .my-meal-plan .hero-deck .content {
    text-align: center; }
    .my-meal-plan .hero-deck .content > h1 {
      display: none; }
      @media print {
        .my-meal-plan .hero-deck .content > h1 {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 18px !important; } }
    .my-meal-plan .hero-deck .content > img {
      display: block;
      height: 175px;
      margin: 0 auto; }
      @media screen and (max-width: 1000px) {
        .my-meal-plan .hero-deck .content > img {
          height: 130px; } }
      @media print {
        .my-meal-plan .hero-deck .content > img {
          display: none; } }
    .my-meal-plan .hero-deck .content > p {
      max-width: 500px;
      margin: 20px auto 0;
      font-weight: 500;
      font-size: 20px; }
      @media print {
        .my-meal-plan .hero-deck .content > p {
          display: none; } }

.card-grid__container {
  padding: 20px 30px;
  background-color: #f4e2de; }
  @media screen and (min-width: 2300px) {
    .card-grid__container {
      max-width: 2300px;
      margin: 0 auto; } }
  @media screen and (max-width: 1000px) {
    .card-grid__container {
      padding: 0; } }
  @media print {
    .card-grid__container {
      padding: 0; } }

.card-grid__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 10px 20px; }
  @media print {
    .card-grid__header {
      padding: 0 10px; } }

ul.card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  list-style: none; }
  @media print {
    ul.card-grid {
      padding: 5px; } }

li.card-grid__item {
  width: 20%;
  padding: 10px;
  margin: 300px auto; }
  @media screen and (max-width: 1900px) {
    li.card-grid__item {
      width: 25%; } }
  @media screen and (max-width: 1500px) {
    li.card-grid__item {
      width: 33.3333%; } }
  @media screen and (max-width: 1000px) {
    li.card-grid__item {
      width: 50%; } }
  @media screen and (max-width: 640px) {
    li.card-grid__item {
      width: 100%; } }
  @media print {
    li.card-grid__item {
      width: 33.3333%;
      padding: 5px;
      display: block; } }

/**************************
  Flip animation container
**************************/
.flip-container {
  position: relative;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.card--front {
  position: relative;
  height: 600px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  .flip-back .card--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  @media print {
    .card--front {
      -webkit-backface-visibility: initial;
              backface-visibility: initial;
      -webkit-transform: initial;
              transform: initial; } }

.card--back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  .flip-back .card--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  @media print {
    .card--back {
      display: none; } }

/***************
  Card content
****************/
.card__content {
  position: relative;
  height: 100%;
  padding: 20px;
  padding-bottom: 80px;
  background-color: #fff;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  color: #666666; }
  @media print {
    .card__content {
      height: 270px;
      padding: 10px;
      border: 1px solid #dadada;
      background: white !important;
      color: #333333 !important; } }
  .card__content::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 10px;
    background-color: #fff;
    background-image: -webkit-radial-gradient(circle, #f4e2de 10%, transparent 10%);
    background-image: radial-gradient(circle, #f4e2de 10%, transparent 10%);
    background-size: 30px 120px;
    background-position: 50% 62px;
    -webkit-transition: background-color 150ms;
    transition: background-color 150ms; }
    @media print {
      .card__content::before {
        display: none; } }
  .card--front .card__content.card-theme--green {
    color: white;
    background-color: #8dc378; }
    .card--front .card__content.card-theme--green::before {
      background-color: #8dc378; }
    .card--front .card__content.card-theme--green .card__day, .card--front .card__content.card-theme--green .card__category {
      color: white; }
    .card--front .card__content.card-theme--green .cooking-time::before {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/stopwatch_time_white.svg") no-repeat center center; }
    .card--front .card__content.card-theme--green .bx-wrapper .bx-controls .bx-controls-direction a {
      background-color: #8dc378; }
      .card--front .card__content.card-theme--green .bx-wrapper .bx-controls .bx-controls-direction a::before {
        border-color: white; }
    .card--front .card__content.card-theme--green .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link.active {
      background-color: white; }
  .card--front .card__content.card-theme--red {
    color: white;
    background-color: #ec1c24;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/card-bg.svg), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/card-bg.svg);
    background-position: 75% 75%, 100% -6px;
    background-repeat: no-repeat, no-repeat;
    background-size: 250%, 250%; }
    .card--front .card__content.card-theme--red::before {
      background-color: #ec1c24; }
    .card--front .card__content.card-theme--red .card__day, .card--front .card__content.card-theme--red .card__category {
      color: white; }
    .card--front .card__content.card-theme--red .cooking-time::before {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/stopwatch_time_white.svg") no-repeat center center; }
    .card--front .card__content.card-theme--red .bx-wrapper .bx-controls .bx-controls-direction a {
      background-color: #ec1c24; }
      .card--front .card__content.card-theme--red .bx-wrapper .bx-controls .bx-controls-direction a::before {
        border-color: white; }
    .card--front .card__content.card-theme--red .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link.active {
      background-color: white; }
  .card--back .card__content {
    background-color: #fbf0ee; }
    .card--back .card__content::before {
      background-color: #fbf0ee; }

.card__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-size: 0.85em;
  font-weight: 500;
  color: inherit;
  background-color: #f4e2de; }
  @media print {
    .card__buttons {
      display: none; } }
  .card__buttons > button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 0.85em;
    line-height: normal;
    color: inherit;
    background-color: #fbf0ee;
    -webkit-transition: background-color 150ms;
    transition: background-color 150ms; }
    .card__buttons > button:first-child {
      -webkit-box-flex: 1.5;
          -ms-flex: 1.5;
              flex: 1.5;
      margin-right: 1px; }
    .card__buttons > button:hover {
      background-color: #fcf4f3; }

.card__button--recommend > img {
  width: 23px;
  height: 23px;
  margin-right: 10px; }

.card__button--change > img {
  width: 21px;
  height: 21px;
  margin-right: 10px; }

.card__header {
  height: 110px;
  padding: 20px 0;
  text-align: center; }
  @media print {
    .card__header {
      height: 44px;
      padding: 0; } }

.card__day {
  font-size: 1.5em;
  font-weight: 300;
  color: #ec1c24; }
  @media print {
    .card__day {
      font-size: 14px;
      color: #ec1c24 !important; } }

.card__date {
  font-size: 0.8em;
  font-weight: 300;
  color: inherit; }
  @media print {
    .card__date {
      font-size: 10px;
      line-height: 10px; } }

.card__image-wrap {
  position: relative; }

.card__image > img {
  display: block;
  width: 100%;
  max-width: 100%;
  vertical-align: top; }

.card__link {
  display: block;
  height: 200px;
  padding: 20px;
  font-weight: 300; }
  @media print {
    .card__link {
      height: auto;
      padding: 0; } }
  .card__link .cooking-time {
    font-size: 13px;
    margin-bottom: 8px;
    color: inherit; }
    @media print {
      .card__link .cooking-time {
        font-size: 11px;
        margin-bottom: 0; } }
  @media screen and (max-width: 640px) {
    .card__link {
      padding: 20px 0; } }

.card__category {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 45px;
  text-align: center;
  color: #ec1c24; }
  @media print {
    .card__category {
      font-size: 10px;
      margin: 5px 0 0 0;
      color: #ec1c24 !important; } }

.card__text {
  font-size: 16px;
  line-height: 22px;
  height: 70px;
  margin: 0;
  color: inherit;
  padding-left: 35px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
  @media screen and (min-width: 1000px) {
    .card__text {
      font-size: 18px;
      line-height: 24px;
      height: 76px; } }
  @media print {
    .card__text {
      font-size: 11px;
      line-height: 13px;
      height: auto;
      padding: 0; } }

.card__textarea {
  position: relative;
  margin-bottom: 200px; }
  @media print {
    .card__textarea {
      margin-bottom: 0; } }
  .card__textarea > img {
    display: block;
    width: 100%;
    max-width: 100%; }
  .card__textarea > textarea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: 300;
    color: #666666; }
    .card__textarea > textarea::-webkit-input-placeholder {
      color: #666666; }
    .card__textarea > textarea::-moz-placeholder {
      color: #666666; }
    .card__textarea > textarea:-ms-input-placeholder {
      color: #666666; }
    .card__textarea > textarea::placeholder {
      color: #666666; }
    @media print {
      .card__textarea > textarea {
        font-size: 16px;
        padding: 10px; } }

/********
  Search
*********/
.card-search__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px 0 0; }
  @media print {
    .card-search__header {
      display: none; } }

.card-search__search .search-form {
  padding: 20px 0; }

.card-search__header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.65em;
  line-height: normal;
  margin-left: auto;
  color: #666666; }
  .card-search__header-button > img {
    display: block;
    width: 10px;
    height: 15px;
    margin-left: 10px; }

.card-search__list {
  margin: 7%;
  padding: 0;
  list-style: none; }

.card-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  margin-bottom: 10px;
  cursor: pointer; }

.card-search__image {
  position: relative;
  width: 90px;
  min-width: 90px;
  margin-right: 15px;
  overflow: hidden; }
  .card-search__image > img {
    display: block;
    width: 100%;
    max-width: 100%; }
  .is-favorite .card-search__image::before, .is-favorite .card-search__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .is-favorite .card-search__image::before {
    background-color: #19a413;
    opacity: 0.70; }
  .is-favorite .card-search__image::after {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/heart_favorite_like_plus_white.svg") center center no-repeat;
    background-size: auto 25px; }

.card-search__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 50px;
  overflow: hidden;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3em; }
  .card-search__text > span {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .is-favorite .card-search__text {
    color: #19a413; }

/*************
  Pagination
**************/
.card-search__pagination {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .card-search__pagination > li {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8em; }
    .card-search__pagination > li > span {
      display: block;
      line-height: 30px;
      border-radius: 100%;
      box-shadow: inset 0 0 0 0 #f4e2de;
      -webkit-transition: box-shadow 0.7s, color 0.7s;
      transition: box-shadow 0.7s, color 0.7s; }
    .card-search__pagination > li.is-active > span {
      color: white;
      box-shadow: inset 0 0 0 20px #ec1c24; }
    .card-search__pagination > li:hover > span {
      color: white;
      box-shadow: inset 0 0 0 20px #ec1c24; }

.card-search__pagination-button--prev {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  vertical-align: middle;
  margin-top: -2px; }
  .card-search__pagination-button--prev:disabled, .card-search__pagination-button--prev .is-inactive {
    border-color: #b9b9b9; }

.card-search__pagination-button--next {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  margin-top: -2px; }
  .card-search__pagination-button--next:disabled, .card-search__pagination-button--next .is-inactive {
    border-color: #b9b9b9; }

/*************
  Buttons
**************/
.card__button--close {
  color: #666666;
  line-height: normal; }
  @media print {
    .card__button--close {
      display: none; } }

.card__button--remove {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  width: 26px;
  line-height: 26px;
  background-color: white;
  border-radius: 100%; }
  .card__button--remove > img {
    display: inline-block;
    width: 8px;
    height: 8px; }
  @media print {
    .card__button--remove {
      display: none; } }

.card__button--favorite {
  position: absolute;
  top: 0;
  left: 0;
  line-height: normal;
  background-color: white; }
  .card__button--favorite > img {
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px; }
  .card__button--favorite.is-favorite {
    background-color: #19a413; }
  @media print {
    .card__button--favorite {
      display: none; } }

.card__content .bx-wrapper ul {
  margin: 0; }
  @media print {
    .card__content .bx-wrapper ul {
      display: block !important; } }
  .card__content .bx-wrapper ul li {
    padding: 0;
    margin: 0 !important; }

.card__content .bx-wrapper .bx-controls-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media print {
    .card__content .bx-wrapper .bx-controls-direction {
      display: none; } }

.card__content .bx-wrapper .bx-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 146px; }
  @media print {
    .card__content .bx-wrapper .bx-controls {
      display: none; } }

.card__content .bx-wrapper .bx-controls-direction a {
  position: relative;
  display: block;
  margin: 0;
  background-image: none; }
  .card__content .bx-wrapper .bx-controls-direction a:hover {
    background-color: transparent; }

.card__content .bx-wrapper .bx-prev::before {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -3px;
  border-color: #a5a5a5; }
  .card__content .bx-wrapper .bx-prev::before:disabled, .card__content .bx-wrapper .bx-prev::before .is-inactive {
    border-color: #b9b9b9; }

.card__content .bx-wrapper .bx-next::before {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 50%;
  margin-right: -3px;
  border-color: #a5a5a5; }
  .card__content .bx-wrapper .bx-next::before:disabled, .card__content .bx-wrapper .bx-next::before .is-inactive {
    border-color: #b9b9b9; }

.card__content .bx-wrapper .bx-pager.bx-default-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: static;
  padding-top: 5px; }
  .card__content .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link {
    width: 8px;
    height: 8px;
    z-index: 1;
    background-color: #a5a5a5; }
    .card__content .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link.active {
      background-color: #ec1c24; }

/******************
  Week number
******************/
.week-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.week-number__button--prev {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  vertical-align: middle; }
  .week-number__button--prev:disabled, .week-number__button--prev .is-inactive {
    border-color: #b9b9b9; }
  @media print {
    .week-number__button--prev {
      display: none; } }

.week-number__button--next {
  content: "";
  width: 6px;
  height: 6px;
  line-height: normal;
  border-right: solid 2px #666666;
  border-top: solid 2px #666666;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle; }
  .week-number__button--next:disabled, .week-number__button--next .is-inactive {
    border-color: #b9b9b9; }
  @media print {
    .week-number__button--next {
      display: none; } }

.week-number__text {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 30px; }
  @media screen and (max-width: 640px) {
    .week-number__text {
      font-size: 14px; } }
  @media print {
    .week-number__text {
      position: absolute;
      top: 50px;
      margin: 0;
      font-size: 13px; } }

.week-teaser {
  position: relative;
  top: -20px;
  padding: 0 30px; }
  @media screen and (max-width: 640px) {
    .week-teaser {
      display: none; } }
  @media print {
    .week-teaser {
      display: none; } }
  .week-teaser > img {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 30px;
    height: 30px; }
  .week-teaser > p {
    display: inline-block;
    width: 130px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    font-family: "MVB Emmascript", Helvetica,Arial,sans-serif;
    line-height: 18px;
    color: #ec1c24; }
  .week-teaser .week-teaser__indent-text {
    display: inline-block;
    margin-left: 12px; }

.print-cards__button {
  margin-left: auto; }
  @media print {
    .print-cards__button {
      display: none; } }
  .print-cards__button > a {
    background-color: #ec1c24; }

/******************************
      My meal plan off canvas
******************************/
body.my-meal-plan-disable-scroll {
  overflow: hidden; }

@media screen and (max-width: 640px) {
  .my-meal-plan__off-canvas-wrap.my-meal-plan-off-canvas-is-open {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 60px;
    left: 15%;
    z-index: 2; } }

@media print {
  .my-meal-plan__off-canvas-wrap {
    position: absolute;
    top: -20px;
    right: -20px; } }

@media screen and (max-width: 640px) {
  .my-meal-plan__off-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, opacity 300ms ease;
    transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease;
    background-color: rgba(236, 28, 36, 0.9);
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .my-meal-plan-off-canvas-is-open .my-meal-plan__off-canvas {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }

/******************************
      My meal plan tab bar
******************************/
.my-meal-plan__tabs {
  margin: 0;
  padding: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 641px) {
    .my-meal-plan__tabs {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 65px;
      padding: 0;
      background-color: rgba(236, 28, 36, 0.85);
      border-bottom: 4px solid white;
      z-index: 1; } }
  @media screen and (min-width: 1000px) {
    .my-meal-plan__tabs {
      height: 75px; } }

.my-meal-plan__item, .my-meal-plan__item--profile, .my-meal-plan__item--logo {
  display: block;
  list-style: none;
  position: relative; }
  @media screen and (min-width: 641px) {
    .my-meal-plan__item, .my-meal-plan__item--profile, .my-meal-plan__item--logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .my-meal-plan__item.is-active, .is-active.my-meal-plan__item--profile, .is-active.my-meal-plan__item--logo {
        color: #ec1c24;
        background-color: white; }
      .my-meal-plan__item::after, .my-meal-plan__item--profile::after, .my-meal-plan__item--logo::after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        background: white; }
      .my-meal-plan__item:hover, .my-meal-plan__item--profile:hover, .my-meal-plan__item--logo:hover {
        color: #ec1c24; }
        .my-meal-plan__item:hover::after, .my-meal-plan__item--profile:hover::after, .my-meal-plan__item--logo:hover::after {
          height: 100%; } }
  @media screen and (max-width: 640px) {
    .my-meal-plan__item, .my-meal-plan__item--profile, .my-meal-plan__item--logo {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; } }

@media screen and (max-width: 640px) {
  .my-meal-plan__item--profile {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media screen and (min-width: 641px) {
  .my-meal-plan__item--logo {
    margin-left: auto;
    display: block;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/karolines-kokken-tern.svg") 0 -10px no-repeat;
    background-size: 634px 450px; } }

@media screen and (max-width: 640px) {
  .my-meal-plan__item--logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

.my-meal-plan__link, .my-meal-plan__link--logo, .my-meal-plan__link--profile {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
  color: inherit; }
  @media screen and (min-width: 641px) {
    .my-meal-plan__link, .my-meal-plan__link--logo, .my-meal-plan__link--profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      padding: 0 4vw; } }
  @media screen and (min-width: 1000px) {
    .my-meal-plan__link, .my-meal-plan__link--logo, .my-meal-plan__link--profile {
      padding: 0 4.5vw; } }
  @media screen and (max-width: 640px) {
    .my-meal-plan__link, .my-meal-plan__link--logo, .my-meal-plan__link--profile {
      padding: 8px 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      .is-active .my-meal-plan__link, .is-active .my-meal-plan__link--logo, .is-active .my-meal-plan__link--profile {
        font-weight: bold; } }
  .my-meal-plan__link > span, .my-meal-plan__link--logo > span, .my-meal-plan__link--profile > span {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: center;
        align-self: center; }
    @media print {
      .my-meal-plan__link > span, .my-meal-plan__link--logo > span, .my-meal-plan__link--profile > span {
        display: none; } }
  .my-meal-plan__link:hover, .my-meal-plan__link--logo:hover, .my-meal-plan__link--profile:hover {
    color: inherit; }

@media screen and (min-width: 641px) {
  .my-meal-plan__link--logo {
    padding: 0 5vw; }
    .my-meal-plan__link--logo > span {
      display: none; }
    .my-meal-plan__link--logo > img {
      width: 80px;
      height: 80px;
      display: block;
      position: relative;
      bottom: 40px; } }

@media screen and (min-width: 1000px) {
  .my-meal-plan__link--logo {
    padding: 0 8vw; }
    .my-meal-plan__link--logo > img {
      width: 140px;
      height: 140px;
      bottom: 100px; } }

@media screen and (max-width: 640px) {
  .my-meal-plan__link--logo > img {
    display: none; } }

@media print {
  .my-meal-plan__link--logo > img {
    width: 70px;
    height: 70px;
    display: block; } }

.my-meal-plan__link-text--desktop {
  line-height: 18px;
  display: block;
  width: 100%;
  max-width: 200px; }
  @media screen and (max-width: 1000px) {
    .my-meal-plan__link-text--desktop {
      display: none !important; } }
  .my-meal-plan__link-text--desktop > span {
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: black; }

@media screen and (min-width: 1001px) {
  .my-meal-plan__link-text--mobile {
    display: none !important; } }

/******************************
  Buttons open close off canvas
******************************/
.my-meal-plan__button--open {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #ec1c24;
  position: fixed;
  top: 60px;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 300ms ease, top .5s;
  transition: opacity 300ms ease, top .5s; }
  .my-meal-plan__button--open > img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px; }
  @media screen and (min-width: 641px) {
    .my-meal-plan__button--open {
      display: none; } }
  .scrolls-down .my-meal-plan__button--open {
    position: absolute;
    top: -160px; }
  .my-meal-plan-off-canvas-is-open .my-meal-plan__button--open {
    opacity: 0; }
  @media print {
    .my-meal-plan__button--open {
      display: none; } }

.my-meal-plan__button--close {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #ec1c24; }
  .my-meal-plan__button--close > img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px; }
  @media screen and (min-width: 641px) {
    .my-meal-plan__button--close {
      display: none; } }
  @media print {
    .my-meal-plan__button--close {
      display: none; } }

/****************
  Cook books
*****************/
.cook-book__container {
  padding: 20px 30px;
  color: white;
  background-position: 0 0; }
  @media only screen and (min-width: 0) and (max-width: 640px) {
    .cook-book__container {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/cook-book-bg-small.jpg");
      background-size: contain;
      background-repeat-y: repeat; } }
  @media only screen and (min-width: 641px) and (max-width: 1000px) {
    .cook-book__container {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/cook-book-bg-medium.jpg");
      background-size: contain;
      background-repeat-y: repeat; } }
  @media only screen and (min-width: 1001px) {
    .cook-book__container {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/cook-book-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }
  @media screen and (max-width: 1000px) {
    .cook-book__container {
      padding: 0; } }
  @media screen and (min-width: 2300px) {
    .cook-book__container {
      max-width: 2300px;
      margin: 0 auto; } }
  @media print {
    .cook-book__container {
      padding: 0; } }

.cook-book__header {
  max-width: 780px;
  padding: 60px 30px 20px; }
  @media screen and (max-width: 640px) {
    .cook-book__header {
      padding: 15px 20px 10px 20px;
      padding-top: 50px; } }
  .cook-book__header > h1 {
    font-size: 1.5em;
    font-weight: 100;
    text-transform: none; }

.cook-book__tags {
  padding: 0 30px; }
  @media screen and (max-width: 640px) {
    .cook-book__tags {
      padding: 15px 20px 10px 20px; } }
  .cook-book__tags > button {
    margin: 0 15px 15px 0;
    font-size: 0.8em;
    font-weight: 100;
    color: inherit;
    background-color: transparent;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    box-shadow: 0px 0px 0px 1px white; }
    .cook-book__tags > button.is-active, .cook-book__tags > button:hover {
      color: inherit;
      box-shadow: 0px 0px 0px 1px #ec1c24;
      background-color: #ec1c24; }

.cook-book__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 20px;
  list-style: none; }
  @media screen and (min-width: 1001px) {
    .cook-book__list {
      margin: 0 -1vw; } }
  @media screen and (min-width: 641px) {
    .cook-book__list {
      margin-top: 10px; } }
  @media screen and (max-width: 640px) {
    .cook-book__list {
      padding: 15px 20px 10px 20px; } }
  @media print {
    .cook-book__list {
      padding: 5px; } }

.cook-book__item {
  width: 25%;
  padding: 2vw;
  padding-bottom: 60px; }
  @media screen and (max-width: 1900px) {
    .cook-book__item {
      width: 25%; } }
  @media screen and (max-width: 1500px) {
    .cook-book__item {
      width: 33.3333%; } }
  @media screen and (max-width: 1000px) {
    .cook-book__item {
      width: 50%; } }
  @media screen and (max-width: 640px) {
    .cook-book__item {
      width: 100%;
      padding: 0;
      padding-bottom: 40px; } }
  @media print {
    .cook-book__item {
      width: 33.3333%;
      padding: 5px;
      display: block; } }

.cook-book__link {
  color: inherit;
  display: block;
  margin-bottom: 30px;
  -webkit-transition: color 150ms;
  transition: color 150ms; }
  .cook-book__link:hover {
    color: #dadada; }

.cook-book__title {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cook-book__title > img {
    position: relative;
    top: -4px;
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 20px; }

.cook-book__content {
  font-size: 0.85em;
  color: inherit;
  max-height: 76px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
  @media screen and (min-width: 641px) {
    .cook-book__content {
      height: 76px; } }

.cook-book__figure {
  margin-bottom: 30px; }

.cook-book__image {
  margin: 0 10px 10px 0;
  height: 15.6vw; }
  @media screen and (max-width: 1500px) {
    .cook-book__image {
      height: 22.2vw; } }
  @media screen and (max-width: 1000px) {
    .cook-book__image {
      height: 29.8vw; } }
  @media screen and (max-width: 640px) {
    .cook-book__image {
      height: auto; } }
  .cook-book__image > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 150ms;
    transition: all 150ms; }
    .cook-book__image > img:hover {
      box-shadow: 5px 5px 5px 2px transparent; }

.cook-book__buy-button {
  font-size: 0.8em;
  font-weight: 100;
  background-color: #ec1c24; }

/********************
      Login deck
********************/
.foodclub-user-form-deck {
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #ec1c24;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174819/card-bg.svg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 1600px; }
  @media screen and (min-width: 1500px) {
    .foodclub-user-form-deck {
      background-size: 100%; } }

.foodclub-user-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 35px 20px; }
  .foodclub-user-form .login-header {
    font-size: 1.5em;
    margin-bottom: 1.5em; }
  .foodclub-user-form .login-form div input {
    margin-bottom: 15px;
    max-width: 350px; }
  .foodclub-user-form .login-form p {
    font-size: 16px;
    color: inherit; }
  .foodclub-user-form .login-form a {
    font-size: 16px;
    color: inherit;
    text-decoration: underline; }
  .foodclub-user-form .action-button {
    width: auto;
    margin: 20px 0;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid white;
    border-radius: 0;
    background-color: transparent; }
