.card-item-grid {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto; }

.card-item-wrapper {
  width: 276px;
  height: 500px;
  background-color: #f1f1f1;
  position: relative; }

.card-item__header-favorite {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: green; }

.card-item__header-img {
  width: 100%;
  height: 40%; }

.card-item__content {
  width: 10px;
  height: 10px;
  background-color: red; }

.card-item__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

.card-item .btn-ingredienser {
  display: inline-block;
  width: 50%; }
