@font-face {
  font-family: 'ArlaF-Rg';
  src: url("../fonts/rg/ArlaIF_Rg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rg/ArlaIF_Rg.?#iefix") format("embedded-opentype"), url("../fonts/rg/ArlaIF_Rg.woff2") format("woff2"), url("../fonts/rg/ArlaIF_Rg.woff") format("woff"), url("../fonts/rg/ArlaIF_Rg.ttf") format("truetype"), url("../fonts/rg/ArlaIF_Rg.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  background-color: #404040;
  position: relative;
  font-family: "ArlaF-Rg";
  margin-top: 200px; }

.card-item-grid {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .card-item-grid.flipped {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.card-item-wrapper-front, .card-item-wrapper-back {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  overflow: hidden; }

.card-item-wrapper-front {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

.card-item-wrapper-back {
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.card-item__header-favorite {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: green;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .card-item__header-favorite-img {
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px; }

.card-item__header-img {
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto; }

.card-item__progressbar {
  width: 220px;
  height: auto;
  margin: auto;
  border-bottom: 1px solid #e6dfdf;
  padding: 20px 0px; }
  .card-item__progressbar .progress {
    width: 75%;
    height: 5px;
    margin: 0px auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .card-item__progressbar .progress .progress-bar {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      float: left;
      width: 0%;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      border-radius: 8px;
      color: #ffffff;
      text-align: right;
      background-color: #159d20;
      -webkit-transition: width 0.6s ease;
      transition: width 0.6s ease; }
      .card-item__progressbar .progress .progress-bar span {
        position: absolute;
        bottom: 10px;
        margin-right: 10px;
        color: white;
        z-index: 2; }
        .card-item__progressbar .progress .progress-bar span::after {
          position: absolute;
          left: -8px;
          bottom: -7px;
          content: '';
          width: 40px;
          height: 30px;
          background-image: url("icons/box.svg");
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: -1;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden; }

.card-item__content {
  width: 220px;
  height: 120px;
  margin: 5px auto; }
  .card-item__content .recipe-title {
    color: #5a5555;
    text-align: center;
    font-size: 80%; }

.card-item__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

.card-item .btn {
  background-color: #fbf0ed;
  display: inline-block;
  height: 50px;
  width: 50%;
  border: none;
  font-weight: bold;
  color: #746e6e;
  -webkit-transition: all .1s ease-in-out 0s;
  transition: all .1s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .card-item .btn:focus {
    outline: none; }
  .card-item .btn:hover {
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
    background-color: #f8e6e0; }
  .card-item .btn::before {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    left: 13px; }

.card-item .btn-send::before {
  background-image: url("icons/list.svg");
  left: 30px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.card-item .btn-ingredienser {
  border-left: 1px solid #f0e7e5; }
  .card-item .btn-ingredienser::before {
    content: "";
    background-image: url("icons/list.svg");
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }

.card-item__header-back {
  background: #fff;
  text-align: center; }

.card-item__select-person {
  margin: 20px;
  padding: 15px;
  width: 250px;
  font-size: 16px; }

.card-item__content-back {
  background: #fff; }

.card-item__ingrediens-list {
  list-style: none;
  width: auto;
  height: 300px;
  overflow: auto; }
  .card-item__ingrediens-list .checkbox-style {
    width: 250px;
    height: auto;
    left: -15px;
    border-top: 1px solid #efefef;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-radius: 50px;
    position: relative;
    display: inline-block; }
    .card-item__ingrediens-list .checkbox-style p {
      display: inline-block; }
    .card-item__ingrediens-list .checkbox-style .checked {
      color: #b9b9b9;
      -webkit-transition: width 0.5s ease-in;
      transition: width 0.5s ease-in; }
    .card-item__ingrediens-list .checkbox-style label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50px;
      border: 1px solid #b2b2b2;
      right: 0;
      top: 13px; }
      .card-item__ingrediens-list .checkbox-style label:after {
        opacity: 0;
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #00bf00;
        border-radius: 50px;
        top: 5px;
        left: 5px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
    .card-item__ingrediens-list .checkbox-style .label-checked {
      border: 1px solid #b2b2b2; }
    .card-item__ingrediens-list .checkbox-style input[type=checkbox]:checked + label:after {
      background: #b2b2b2;
      opacity: 1; }

input[type=checkbox] {
  display: none; }
